.auth__link {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    padding: 15px 0 0;
  }
  
  .auth__link:hover {
    opacity: 0.6;
  }
  