.profile__btn_type_edit {
  width: 24px;
  height: 24px;
  margin: 2px 0 0 3px;
  position: relative;
  background: url(../../../../img/EditButton.svg) no-repeat center;
  align-self: center;
  border-radius: 0;
  border: none;
}
@media (max-width: 768px) {
  .profile__btn_type_edit {
    align-self: baseline;
  }
}
@media (max-width: 450px) {
  .profile__btn_type_edit {
    width: 18px;
    height: 18px;
    margin: 8px 0 0;
    background-size: 18px;
  }
}
