.profile__info {
  display: grid;
  grid-template-columns: 1fr min-content;
  gap: 9px 18px;
}
@media (max-width: 768px) {
  .profile__info {
    padding-top: 18px;
    margin: 0 0 31px;
    padding-left: 28px;
    gap: 10px;
    text-align: center;
  }
}
