.auth__input {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #fff;
  padding: 0 0 10px 0;
  border-bottom: 2px solid #ccc;
  margin-bottom: 30px;
  }
  .auth__input:-webkit-autofill{
  -webkit-box-shadow: 0 0 0px 1000px #000 inset;
  -webkit-text-fill-color:  #fff;
}

  /* input:-webkit-autofill,
  input:-webkit-autofill:focus {
    background: red;
    background-color: red !important;
    transition: background-color 0s 1s, color 0s 600000s;
  } */




  